.product-list-container {
    padding: 20px;
    padding-bottom: 60px;
    max-width: 1400px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.products-grid {
    display: grid;
    gap: 30px;
    width: 100%;
    align-items: start;
}