.spacer {
    flex: 1 1 auto;
}

.app-toolbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 0 16px;
}

.content {
    padding-bottom: 60px;
}



.app-footer {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-top: 1px solid #eee;
    color: #888;
    margin-top: 40px;
}